<!-- <div
  style="border: 1px solid red; display: flex; justify-content: space-around"
>
  <div>
    <h1>parent component to child</h1>
    <app-child [item]="data" [item2]="data2" [item3]="data3" />

    <div *ngFor="let user of userDetails">
      <app-child [details]="user" />
    </div>
    <button (click)="updateChild()">update the child</button>
  </div>
  <div>
    <h1>{{ dataFromChild }}</h1>
    <app-child2
      (updateDataEvent)="updateData($event)"
      (updateDataEvent2)="updateData($event)"
    />
  </div>
</div> -->
<div class="container">
  <a routerLink="/">home</a>
  <a routerLink="/private">Private</a>
</div>
<h1>
  <a routerLink="/forms">Forms</a>
</h1>
<h1>
  <a routerLink="/option">options</a>
</h1>
<app-observable-example />
<app-comp1 />
<app-comp2 />
<router-outlet></router-outlet>
